/*CSS RESET CODE */

/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* PAGE STYLING CODE */

body {
    background-color: #778899;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    margin-top: 50px;
}

p {
    color: #fafad2;
}

a{
    color: #ffdab9;
}

ul{
    list-style-type: disc;
}

img{
    width: 100%;
}

a:hover{
    font-size: 16px;
    font-style: italic;
}

nav a {
    color: #eb9737;
    display: block;
}


header nav a {
    height: 3em;
    padding-top: 0.2em;
    padding-left: 0.2em;
    box-sizing: border-box;
}

#about p {
    float: none;
}

.content{
    float: none;
    clear: both;
}

#about, #faq {
    padding: 10px 10px 10px 10px;
}
.content p:first-letter {
    color: #9acd32;
    font-size: 40px;
}

span:after{
    content: "\00a9";
}

header h2 {
    color: #fffaf0;
    font: italic bold;
    font-size: 46px;
    text-decoration: underline;
}

header ul {
    margin-left: 20px;
}

#contacts, #register {
    margin-top: 10px;
}

.contact-register-area {
    float: none;
    clear: both;
}


@media (min-width: 1px) and (max-width:600px) {
    #contacts {
        width: 100%;
        float: left;
    }

    #register {
        width: 100%;
        float: right;
    }

    #about, #faq {
        float: left;
        width: 100%;
    }

    nav a {
        position: relative;
        float: left;
        width: 50%;
    }
}

@media (min-width: 600px){
    #contacts {
        width: 45%;
        float: left;
    }

    #register {
        width: 45%;
        float: right;
    }

    #about, #faq {
        float: left;
        width: 45%;
    }

    nav a {
        position: relative;
        float: left;
        width: 25%;
    }
}


#footer {
    display: block;
    clear: both;
    float: none;
}

.field-element {
    width: 40%;
    display: inline-block;
}

.input-area{
    width: 55%;
    display: inline-block;
}

.footer-with-background{
    background-color: #87998f;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

